<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">YayOrNay</a>
	<ul class="nav">
	<li><%= link_to "Home", root_path %></li>
	<li><%= link_to "About", about_path %></li>
	</ul>
	</div>
</div>

